*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    text-align: center;
    width: 100%;
    padding: 0px 15px;
}

#new-cat{
    background: linear-gradient( 89.7deg, rgba(223,0,0,1) 2.7%, rgba(214,91,0,1) 15.1%, rgba(233,245,0,1) 29.5%, rgba(23,255,17,1) 45.8%, rgba(29,255,255,1) 61.5%, rgba(5,17,255,1) 76.4%, rgba(202,0,253,1) 92.4% );
    background-size: 300% 100%;   
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    position: sticky;
    top: 10px;
    animation: rainbowShift 5s linear infinite;
}
 @keyframes rainbowShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}

.cat-images{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.cat-images img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
}
